body{
    margin:0;
    padding:0;
    background-color: #ffece3;
}


header{
    height: 100px;
    width: 100%;
    background-color: rgba(95, 158, 160);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}
#LOGO{
    display: block;
    color: rgb(0, 0, 0);
    font-size:72px;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
}
li.nav
{
    float:left;
}
li.nav a
{
    width:100px;
    display: block;
    color: white;
    text-align: center;
    padding: 37px 10px;
    text-decoration: none;
}
li.nav a:hover {
    background-color: #111;
}


#circle
{
position: fixed;
bottom: 70px;
right:70px;
width: 50px;
height: 50px;
background: rgb(63, 63, 63);
border-radius: 25px;
 }


.content{
    height:5000px;
    width:100%;
}
.pages{
    height:1000px;
    width: 100%;
}